@page "/users"
@layout MainLayout
@page "/uzytkownicy"
@using Api.DTO;
@using BlazorApp.Services;
@using Domain.Abstractions
@using Domain.Model
@using BlazorApp.Components
@inject IUserRepository repository
@inject IMessageService messageService
@inject UserApiService Api 

<h3>Users</h3>

<p>Hello @message</p>


<SearchPanel OnSearch="Search" />


<button @onclick=@(()=>ChangeMessage("#"))>Change message</button>
@if (users is null)
{
    <em>Loading...</em>
}
else
{
    <EntityTableTemplate Items="@users">
        <HeaderTemplate>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>

        </HeaderTemplate>
        <RowTemplate Context="user">
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
        </RowTemplate>
    </EntityTableTemplate>
}

@code {


    string message = "Users";

    Task Search(string filter)
    {
        // TODO: search by filter


        return Task.CompletedTask;
    }

    IEnumerable<UserDTO>? users;


    protected override async Task OnInitializedAsync()
    {
        users = await Api.GetAllAsync();
    }


    void ChangeMessage(string separator)
    {
        message += separator;

        //   this.StateHasChanged();

        var message2 = new HtmlMessage { Content = message };

        messageService.Send(message2);
    }


}
